body {
  margin: 0;
  font-family: 'Argentum Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Argentum Sans', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}